{{define "about_component"}}
<div class="flex flex-col">
    <div class="bg-[#f0e7e4] flex">
        <div class="basis-6/12 grow flex flex-col justify-center items-center p-6">
            <div class="flex flex-col items-start p-1.5">
                <h1 class="text-5xl font-futura-light font-semibold tracking-wider">The best coffee you've ever had, no
                    matter where you are.</h1>
                <p class="font-futura-light text-zinc-500 text-lg font-bold tracking-wider my-4">Whether you're making
                    your own cup of coffee at home or enjoying a pour-over at one of our two
                    Southern California
                    locations, our mission is the same: to provide an extraordinary coffee experience.</p>
                <button class="my-4 py-3 px-8 bg-slate-950 text-white uppercase font-bold text-lg transition hover:bg-slate-900 duration-300 ease-out">Shop all
                    coffee</button>
            </div>
        </div>
        <div class="basis-6/12 grow-0">
            <img src="/public/images/about-info.webp" alt="about image" class="">
        </div>
    </div>

    <div class="bg-rose-500">
        <div
            class="flex justify-between items-center py-10 px-2 text-center font-futura-medium text-sm">
            <div class="flex flex-col justify-center items-center mx-2">
                <div class="bg-slate-950 w-10 h-10 text-white rounded-full flex items-center justify-center">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                </div>
                <h4 class="text-base uppercase mb-2">Fast Shipping</h4>
                <p class="text-base">We offer free shipping on all orders over $50.</p>
            </div>
            <div class="flex flex-col justify-center items-center mx-2">
                <div class="bg-slate-950 w-10 h-10 text-white rounded-full flex items-center justify-center">
                    <i class="fa fa-building" aria-hidden="true"></i>
                </div>
                <h4 class="text-base uppercase mb-2">Same Day Pick-up</h4>
                <p class="text-base">Order before 3pm and you can pick up your order from any of our two locations on the same
                    day.</p>
            </div>
            <div class="flex flex-col justify-center items-center mx-2">
                <div class="bg-slate-950 w-10 h-10 text-white rounded-full flex items-center justify-center">
                    <i class="fa fa-certificate" aria-hidden="true"></i>
                </div>
                <h4 class="text-base uppercase mb-2">Hihgly-rated</h4>
                <p class="text-base font-light">Thousands of 5-star reviews, countless more happy customers.</p>
            </div>
            <div class="flex flex-col justify-center items-center mx-2">
                <div class="bg-slate-950 w-10 h-10 text-white rounded-full flex items-center justify-center">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                </div>
                <h4 class="text-base uppercase mb-2">Environmental Sustainability</h4>
                <p class="text-base">We only work with producers who engage in socially equitable and envoronmentally friendly
                    farming practices.</p>
            </div>
            <div class="flex flex-col justify-center items-center mx-2">
                <div class="bg-slate-950 w-10 h-10 text-white rounded-full flex items-center justify-center">
                    <i class="fa fa-shield" aria-hidden="true"></i>
                </div>
                <h4 class="text-base uppercase mb-2">Secure Payments</h4>
                <p class="text-base">Encrypted transactions mean your information is protected.</p>
            </div>
            <div class="flex flex-col justify-center items-center mx-2">
                <div class="bg-slate-950 w-10 h-10 text-white rounded-full flex items-center justify-center">
                    <i class="fa fa-ship" aria-hidden="true"></i>
                </div>
                <h4 class="text-base uppercase mb-2">Easy Returns</h4>
                <p class="text-base">If something isn't right with your order, we'll take care of it - no questions asked.</p>
            </div>
        </div>
    </div>
</div>
{{end}}