{{define "feature_component"}}
<div class="p-6">
  <div class="py-4 flex justify-between items-baseline">
    <h2 class="text-4xl font-futura-medium font-bold">Featured Coffee</h2>
    <div class="py-0.5 flex justify-evenly items-center">
      <div class="border border-black rounded-full p-0.5 mx-1 cursor-pointer bg-black"></div>
      <div class="border border-black rounded-full p-0.5 mx-1 cursor-pointer"></div>
    </div>
  </div>

  <div class="h-[480px] my-2 flex items-center border border-t-black border-b-black border-l-black border-r-black">
    <div class="h-full flex flex-col justify-center items-center border border-r-black w-[280px]">
      <div class="h-3/4 w-full cursor-pointer">
        <img class="h-full w-full" src="/public/images/rwandagoodboybobcoffee.webp" alt="rwandagoodboybobcoffee" />
      </div>
      <div class="text-center px-2 w-full h-1/4 flex flex-col items-center justify-center">
        <div class="h-4/5 w-full px-4">
          <h5 class="capitalize text-xl font-futura-medium font-bold tracking-wider">
            Rwanda Nyampinga
          </h5>
          <span class="font-futura-light text-lg font-bold">from <span class="">$8.00</span></span>
        </div>
        <div class="w-full h-1/5 flex justify-center items-center">
          <ul class="list-disc font-futura-medium text-base font-medium">
            <li class="text-gray-400">In stock</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="h-full flex flex-col justify-center items-center border border-r-black w-[280px]">
      <div class="h-3/4 w-full cursor-pointer">
        <img class="h-full w-full" src="/public/images/hondurasangela.webp" alt="hondurasangela" />
      </div>
      <div class="w-full h-1/4 text-center px-2 flex flex-col items-center justify-center">
        <div class="h-4/5 w-full px-4">
          <h5 class="capitalize text-xl font-futura-medium font-bold tracking-wider">
            Honduras Angela Dominguez
          </h5>
          <span class="font-futura-light text-lg font-bold">from <span class="">$9.00</span></span>
        </div>
        <div class="w-full h-1/5 text-center flex justify-center items-center">
          <ul class="list-disc font-futura-medium text-base font-medium">
            <li class="text-gray-400">In stock</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="h-full flex flex-col justify-center items-center border border-r-black w-[280px]">
      <div class="h-3/4 w-full cursor-pointer">
        <img class="h-full w-full" src="/public/images/smokinhotgoodboybobcoffee.webp"
          alt="smokinhotgoodboybobcoffee" />
      </div>
      <div class="text-center px-2 flex flex-col items-center justify-center w-full h-1/4">
        <div class="h-4/5 w-full px-4">
          <h5 class="capitalize text-xl font-futura-medium font-bold tracking-wider">
            Smokin' Hot Coffee Subscription
          </h5>
          <span class="font-futura-light text-lg font-bold">from <span class="">$105.00</span></span>
        </div>
        <div class="w-full h-1/5 text-center flex justify-center items-center">
          <ul class="list-disc font-futura-medium text-base font-medium">
            <li class="text-gray-400">In stock</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="h-full flex flex-col justify-center items-center border border-r-black w-[280px]">
      <div class="h-3/4 w-full cursor-pointer">
        <img class="h-full w-full" src="/public/images/house-blend-bk.webp" alt="house-blend-bk" />
      </div>
      <div class="text-center flex flex-col items-center justify-center h-1/4">
        <div class="h-4/5 w-full px-4">
          <h5 class="capitalize text-xl font-futura-medium font-bold tracking-wider">
            House Blend
          </h5>
          <span class="font-futura-light text-lg font-bold">from <span class="">$6.00</span></span>
        </div>
        <div class="w-full h-1/5 flex justify-center items-center">
          <ul class="list-disc font-futura-medium text-base font-medium">
            <li class="text-gray-400">In stock</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="h-full flex flex-col justify-center items-center w-[280px]">
      <div class="h-3/4 w-full cursor-pointer">
        <img class="h-full w-full" src="/public/images/singleoriginvariety.webp" alt="singleoriginvariety" />
      </div>
      <div class="text-center flex flex-col items-center justify-center h-1/4">
        <div class="h-4/5 w-full px-4">
          <h5 class="capitalize text-xl font-futura-medium font-bold tracking-wider">
            Single Origin Variety Pack
          </h5>
          <span class="font-futura-light text-lg font-bold">from <span class="">$30.00</span></span>
        </div>
        <div class="w-full h-1/5 flex justify-center items-center">
          <ul class="list-disc font-futura-medium text-base font-medium">
            <li class="text-gray-400">In stock</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}