{{define "flyout_menu_component"}}
<div class="py-5 shadow-lg absolute z-50">
    <div class="box-border flex flex-col font-futura-regular overflow-y-scroll" id="">
        <h1 class="text-4xl font-bold mx-4 px-4 font-futura-medium py-2">Shop</h1>
        <div class="flex mx-2 p-2 h-64">
            <div class="w-1/2 flex justify-between items-center p-2 h-full">
                <div class="h-full p-2">
                    <h4 class="text-base font-futura-medium font-bold uppercase">Coffee</h4>
                    <ul class="my-2 list-none">
                        <li class="my-2"><a
                                class="no-underline cursor-pointer hover:underline hover:decoration-black hover:decoration-solid hover:decoration-1 text-lg"
                                href="http://" target="_blank" class="">Classic</a></li>
                        <li class="my-2"><a
                                class="no-underline cursor-pointer hover:underline hover:decoration-black hover:decoration-solid hover:decoration-1 text-lg"
                                href="http://" target="_blank" class="">Single-Origin</a></li>
                        <li class="my-2"><a
                                class="no-underline cursor-pointer hover:underline hover:decoration-black hover:decoration-solid hover:decoration-1 text-lg"
                                href="http://" target="_blank" class="">Rare</a></li>
                        <li class="my-2"><a
                                class="no-underline cursor-pointer hover:underline hover:decoration-black hover:decoration-solid hover:decoration-1 text-lg"
                                href="http://" target="_blank" class="">Shop All Coffee</a></li>
                    </ul>
                </div>
                <div class="h-full p-2">
                    <h4 class="text-base font-futura-medium font-bold uppercase">Gifts + Bundles</h4>
                    <ul class="my-2 list-none">
                        <li class="my-2"><a
                                class="no-underline cursor-pointer hover:underline hover:decoration-black hover:decoration-solid hover:decoration-1 text-lg"
                                href="http://" target="_blank" rel="noopener noreferrer">Bundle and Save</a></li>
                        <li class="my-2"><a
                                class="no-underline cursor-pointer hover:underline hover:decoration-black hover:decoration-solid hover:decoration-1 text-lg"
                                href="http://" target="_blank" rel="noopener noreferrer">Gift Cards</a></li>
                        <li class="my-2"><a
                                class="no-underline cursor-pointer hover:underline hover:decoration-black hover:decoration-solid hover:decoration-1 text-lg"
                                href="http://" target="_blank" rel="noopener noreferrer">Merchandise</a></li>
                        <li class="my-2"><a
                                class="no-underline cursor-pointer hover:underline hover:decoration-black hover:decoration-solid hover:decoration-1 text-lg"
                                href="http://" target="_blank" rel="noopener noreferrer">Shop All Gifts</a></li>
                    </ul>
                </div>
                <div class="flex flex-col justify-between h-full">
                    <div class=" p-2">
                        <h4 class="text-base font-futura-medium font-bold uppercase">Shop All Products</h4>
                        <ul class="my-2 list-none">
                            <li class="my-2"><a
                                    class="no-underline cursor-pointer hover:underline hover:decoration-black hover:decoration-solid hover:decoration-1 text-lg"
                                    href="http://" target="_blank" rel="noopener noreferrer">Shop All</a></li>
                        </ul>
                    </div>
                    <div class=" p-2">
                        <h4 class="text-base font-futura-medium font-bold uppercase">Wholesale</h4>
                        <ul class="my-2 list-none">
                            <li class="my-2"><a
                                    class="no-underline cursor-pointer hover:underline hover:decoration-black hover:decoration-solid hover:decoration-1 text-lg"
                                    href="http://" target="_blank" rel="noopener noreferrer">Catering</a></li>
                            <li class="my-2"><a
                                    class="no-underline cursor-pointer hover:underline hover:decoration-black hover:decoration-solid hover:decoration-1 text-lg"
                                    href="http://" target="_blank" rel="noopener noreferrer">Wholesale</a></li>
                            <li class="my-2"><a
                                    class="no-underline cursor-pointer hover:underline hover:decoration-black hover:decoration-solid hover:decoration-1 text-lg"
                                    href="http://" target="_blank" rel="noopener noreferrer">Mobile Coffee Bar</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="w-1/2 px-4 pt-4 h-max border-l border-gray-700">
                <h4 class="text-base font-futura-medium font-bold uppercase">Featured Products</h4>
                <div class="flex justify-between items-center">
                    <div class="w-1/2 mr-2 my-4">
                        <img class="w-full cursor-pointer" src="/public/images/Product1.webp" alt="product" />
                        <div class="">
                            <h4 class="text-xl font-bold uppercase">Last Chance</h4>
                            <p class="text-lg">Save Big on Outgoing Products</p>
                            <a class="text-lg decoration-solid decoration-orange-500 text-orange-500 underline"
                                href="http://" target="_blank" rel="noopener noreferrer">Shop Now</a>
                        </div>
                    </div>
                    <div class="w-1/2 mr-2 my-4">
                        <img class="w-full cursor-pointer" src="/public/images/Product2.webp" alt="" />
                        <h4 class="text-xl font-bold uppercase">Smokin' Hot Gift</h4>
                        <p class="text-lg">The bargain of the century</p>
                        <a class="text-lg decoration-solid decoration-orange-500 text-orange-500 underline"
                            href="http://" target="_blank" rel="noopener noreferrer">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}