{{define "info_home_component"}}
<div class="mt-8">
  <div class="px-4 py-10 bg-[#f0e7e4]">
    <div class="px-2 py-4">
      <div class="p-3 flex flex-col justify-center items-center">
        <h5 class="uppercase tracking-widest text-sm font-bold font-futura-light my-2">
          we are on a mission to give you
        </h5>
        <h3 class="text-4xl font-bold font-fututa-bold mb-2">
          The best coffee you've ever had
        </h3>
        <p class="mb-2 font-futura-light font-bold text-base tracking-wider">
          No matter where you are or how you brew it
        </p>
      </div>
      <div class="p-3 flex justify-between items-center">
        <div class="flex flex-col justify-center items-center">
          <h5 class="uppercase my-2 font-futura-light font-bold text-base tracking-wider">
            Quality
          </h5>
          <h3 class="text-4xl mb-2 font-futura-light font-bold">
            World-Class Coffee
          </h3>
          <p class="mb-2 text-center font-futura-light font-bold text-base tracking-wider">
            We hand-select beans from the world's most renown coffee farms.
          </p>
        </div>

        <div class="flex flex-col justify-center items-center">
          <h5 class="uppercase my-2 font-futura-light font-bold text-base tracking-wider">
            Responsibility
          </h5>
          <h3 class="text-4xl mb-2 font-bold font-futura-light">
            Ethically Sourced
          </h3>
          <p class="mb-2 text-center font-futura-light font-bold text-base tracking-wider">
            All of our coffees are sourced from farms engaging in environmental
            sustainability.
          </p>
        </div>

        <div class="flex flex-col justify-center items-center">
          <h5 class="uppercase my-2 font-futura-light font-bold text-base tracking-wider">
            Made with love
          </h5>
          <h3 class="text-4xl mb-2 font-bold font-futura-light">
            In California
          </h3>
          <p class="mb-2 text-center font-futura-light font-bold text-base tracking-wider">
            Our coffee is roasted in small batches from our home in sunny
            Southern California.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--award winning coffee-->
  <div class="pt-6">
    <div class="px-6 py-4">
      <h2 class="text-center text-5xl font-futura-light font-bold">
        Award-winning coffee from around the world, served with a healthy dose
        of California optimism.
      </h2>
    </div>

    <!--coffee blends-->
    <div class="mt-8 py-8 bg-rose-500 w-full">
      <div class="flex justify-evenly items-center">
        <div class="w-[418px] h-[480px]">
          <div class="h-full w-full bg-info-single-origin bg-cover bg-center bg-no-repeat relative cursor-pointer">
            <div class="absolute bottom-8 left-6 z-10">
              <h5 class="capitalize text-white text-4xl font-bold font-futura-medium my-4 cursor-text">
                Single origin
              </h5>
              <button
                class="px-8 py-2 bg-rose-500 border-0 uppercase font-futura-medium text-lg transition hover:bg-rose-600 duration-300 ease-out">
                Shop now
              </button>
            </div>
          </div>
        </div>
        <div class="w-[418px] h-[480px]">
          <div class="h-full w-full bg-info-classic-blend bg-cover bg-center bg-no-repeat relative cursor-pointer">
            <div class="absolute bottom-8 left-6 z-10">
              <h5 class="capitalize text-white text-4xl font-bold font-futura-medium my-4 cursor-text">
                Classic blends
              </h5>
              <button
                class="px-8 py-2 bg-rose-500 border-0 uppercase font-futura-medium text-lg hover:bg-rose-600 transition duration-300 ease-out">
                Shop now
              </button>
            </div>
          </div>
        </div>
        <div class="w-[418px] h-[480px]">
          <div class="h-full w-full bg-info-rare bg-cover bg-center bg-no-repeat relative cursor-pointer">
            <div class="absolute bottom-8 left-6 z-10">
              <h5 class="capitalize text-white text-4xl font-bold font-futura-medium my-4 cursor-text">
                Rare
              </h5>
              <button
                class="px-8 py-2 bg-rose-500 border-0 uppercase font-futura-medium text-lg transition hover:bg-rose-600 duration-300 ease-out">
                Shop now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}