{{block "navigation_component" .}}
<div class="flex flex-col lg:pt-4 py-4 lg:py-0 box-border text-base font-futura-light font-semibold">
  <div class="flex justify-between items-center px-4 lg:pl-6 lg:pr-2">
    <!-- BEGIN humburger menu -->
    <div class="lg:hidden flex justify-between items-center text-xl font-light">
      <i class="fa fa-bars cursor-pointer mr-2" aria-hidden="true"></i>
      <i class="fa-solid fa-magnifying-glass ml-2 cursor-pointer"></i>
    </div>
    <!-- END humburger menu -->

    <div class="hidden lg:block border-gray-700 border relative">
      <input type="text" name="search" id="" placeholder="Search..." class="px-4 py-2 border-0 w-full outline-none" />
      <i class="fa-solid fa-magnifying-glass absolute right-3 top-3 cursor-pointer text-sm"></i>
    </div>
    <div class="cursor-pointer w-[150px] h-[25px] lg:w-[240px] lg:h-[40px]">
      <img src="/public/images/new-logo-black.avif" alt="logo" class="h-full w-full" />
    </div>
    <div class="flex justify-between items-center">
      <div
        class="hidden lg:block mr-2 cursor-pointer hover:bg-gray-300 hover:rounded-md hover:duration-100 hover:delay-100 hover:ease-in-out p-2 transition">
        <i class="fa-regular fa-user text-xl mx-1"></i>
        <span class="cursor-pointer text-lg">Log in</span>
      </div>
      <div
        class="lg:mr-1 cursor-pointer hover:bg-gray-300 hover:rounded-md hover:duration-100 hover:delay-100 hover:ease-in-out lg:p-2 transition">
        <i class="fa-solid fa-bag-shopping text-xl mx-1"></i>
        <span class="hidden lg:inline-block cursor-pointer text-lg">Cart</span>
      </div>
    </div>
  </div>

  <nav class="hidden lg:block mt-4 px-2 py-0">
    <ul class="flex justify-center items-center px-2 py-1.5 text-lg">
      <li class="mx-4 cursor-pointer relative">
        <a href="" class="cursor-pointer link">Shop</a>
        <i class="fa-solid fa-angle-down text-xs text-bold cursor-pointer"></i>
      </li>
      <li class="mx-4 cursor-pointer relative">
        <a href="" class="cursor-pointer link">Subscribe</a>
        <i class="fa-solid fa-angle-down text-sm text-bold cursor-pointer"></i>
      </li>
      <li class="mx-4 cursor-pointer relative">
        <a href="" class="cursor-pointer link">Store</a>
        <i class="fa-solid fa-angle-down text-sm text-bold cursor-pointer"></i>
      </li>
      <li class="mx-4 cursor-pointer relative">
        <a href="" class="cursor-pointer link">Lifestyle</a>
        <i class="fa-solid fa-angle-down text-sm text-bold cursor-pointer"></i>
      </li>
      <li class="mx-4 cursor-pointer relative">
        <a href="" class="cursor-pointer link">Mobile Odering</a>
      </li>
    </ul>
  </nav>
</div>
{{end}}