{{block "notification_component" .}}
<div class="bg-rose-500 flex justify-center lg:justify-between items-center px-4 py-2 lg:py-0.5 text-white text-sm font-bold border-box relative">
  <div class="hidden lg:block lg:font-thin">
    <a href="http://">
      <span>Visit Us</span>
    </a>
  </div>
  <div class="font-futura-normal text-sm">
    <a href="http://">
      <span class="underline tracking-widest">Free shipping on all orders over $50</span>
    </a>
  </div>
  <div class="hidden lg:block text-lg">
    <i class="fa-brands fa-instagram mx-0.5 cursor-pointer"></i>
    <i class="fa-brands fa-reddit mx-0.5 cursor-pointer" aria-hidden="true"></i>
  </div>
</div>
{{end}}