{{define "product_component"}}
<div class="pt-8 pb-2">
  <div class="w-1/2 mx-auto flex flex-col jutify-center items-center">
    <div class="text-4xl flex flex-col font-bold my-2 justify-center items-center px-2 tracking-wider">
      <span>How do you want your coffee to</span>
      <span>taste?</span>
    </div>

    <ul class="flex justify-between list-none items-center my-2 p-2 font-futura-medium text-lg">
      <li class="mx-4 cursor-pointer">
        <a class="no-underline">Warm & Comforting</a>
      </li>
      <li class="mx-4 cursor-pointer">
        <a class="no-underline">Rich & Robust</a>
      </li>
      <li class="mx-4 cursor-pointer">
        <a class="no-underline">Light & Nuanced</a>
      </li>
    </ul>
  </div>
</div>
<div class="pt-0.5 pb-8">
  <div class="flex items-center justify-center pt-0.5 px-0.5 pb-4">
    <div class="border-t border-l border-b border-black h-[708px] w-[433px]">
      <div class="h-5/6 w-full cursor-pointer">
        <img class="h-full" src="/public/images/house-blend-bk.webp" alt="house blend" />
      </div>
      <div class="flex flex-col justify-center items-center h-1/6 py-0.5 px-2">
        <h3 class="capitalize font-bold text-xl font-futura-medium tracking-wide">
          House blend
        </h3>
        <span class="font-medium font-futura-medium text-lg">from <span class="">$6.00</span></span>

        <ul class="list-disc">
          <li class="mt-2 mb-0.5 list-disc font-futura-medium text-zinc-400 text-sm">
            In Stock
          </li>
        </ul>
      </div>
    </div>
    <div class="border-t border-l border-b border-black h-[708px] w-[433px]">
      <div class="h-5/6 w-full cursor-pointer">
        <img class="h-full" src="/public/images/decaf-blend-bk.webp" alt="decaf blend" />
      </div>
      <div class="flex flex-col justify-center items-center h-1/6 py-0.5 px-2">
        <h3 class="capitalize font-bold text-xl tracking-wide text-center font-futura-medium">
          Decaf blend
        </h3>
        <span class="font-medium font-futura-medium text-lg">from <span class="">$7.00</span></span>
        <ul class="list-disc">
          <li class="mt-2 mb-0.5 list-disc font-futura-medium text-zinc-400 text-sm">
            In Stock
          </li>
        </ul>
      </div>
    </div>
    <div class="border-t border-l border-b border-r border-black h-[708px] w-[433px]">
      <div class="h-5/6 w-full cursor-pointer">
        <img class="h-full" src="/public/images/costa-rica-blend-bk.webp" alt="costa rica blend" />
      </div>
      <div class="flex flex-col justify-center items-center h-1/6 py-0.5 px-2">
        <h3 class="capitalize font-bold text-xl tracking-wide text-center font-futura-medium">
          Costa rica tres milagros cherry madness
        </h3>
        <span class="font-medium font-futura-medium text-lg">from <span class="">$8.50</span></span>
        <ul class="list-disc">
          <li class="mt-2 mb-0.5 list-disc font-futura-medium text-zinc-400 text-sm">
            In Stock
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{end}}